<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="styles.css">
    <title>Social Distancing Analysis</title>
</head>
<body class="landing">
    <header>
        <h1 id="title">Social Distancing Analysis</h1>
        <a href="login.html" class="button" id="toplogin">Log In</a>
    </header>
    <div class="container">
        <div class="centered" id="landing">
            <h1>Social Distancing Analysis</h1>
            <p>Analyze and track movement patterns in your establishment to ensure the safety of your employees and customers.</p>
            <a href="login.html" class="button">Log In</a>
        </div>
    </div>
</body>
</html>