<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <title>Social Distancing Analysis</title>
</head>
<body class="landing">
    <header>
        <ul class="bar">
            <img src="images/logo.svg" alt="Logo" width=40 height=40></img>
            <h1 id="title" class="middle">Social Distancing Analysis</h1>
            <a href="signup.html" class="button" id="topsignup">Sign Up</a>
            <a href="login.html" class="button" id="toplogin">Log In</a>
        </ul>
    </header>
    <div class="container">
        <div class="centered" id="landing">
            <div class="middle">
                <h1>Social Distancing Analysis</h1>
                <p>Analyze and track movement patterns in your establishment to ensure the safety of your employees and customers.</p>
                <a href="login.html" class="button">Log In</a>
            </div>
        </div>
    </div>
</body>
</html>