<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="styles/styles.css">
    <title>Social Distancing Analysis</title>
</head>
<body class="landing">
    <form class="log-in" action="/login" method="post">
    <header>
        <h1 id="title">Social Distancing Analysis</h1>
    </header>
    <div class="container">
        <div class="centered" id=landing>
            <h1>Log In</h1>
                <label for="email">Email: <input type="email" id="email" name="email"><br></label><br>
                <label for="password">Password: <input type="password" id="password" name="password"></label><br>
            </form>
            <button type="submit" value="submit">Log In</button>
        </div>
    </div>
</body>
</html>
