<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="styles/styles.css">
    <title>Social Distancing Analysis</title>
</head>
<body class="landing">
    <header>
        <h1 id="title">Social Distancing Analysis</h1>
    </header>
    <div class="container">
        <div class="centered" id=landing>
            <h1>Sign Up</h1>
            <form class="create-user" action="/signup" method="post">
                <label for="email">Email: <input type="email" id="email" name="email"><br></label><br>
                <label for="company">Company: <input type="text" id="company" name="company"><br></label><br>
                <label for="password">Password: <input type="password" id="password" name="password"><br></label><br>
                <label for="password">Confirm Password: <input type="password" id="confirm-password" name="confirm-password"><br></label><br>
            </form>
            <button type="submit" value="submit">Sign Up</button>
        </div>
    </div>
</body>
</html>