<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="styles/styles.css">
    <title>Social Distancing Analysis</title>
</head>
<body class="landing">
        <header>
            <ul class="bar">
                <img src="images/logo.svg" alt="Logo" width=30 height=30 id="logo"></img>
                <h1 id="title" class="middle">Social Distancing Analysis</h1>
            </ul>
        </header>
    <div class="container">
        <div class="centered" id=landing>
            <h1 class="middle">Sign Up</h1>
            <form class="create-user" action="/signup" method="post">
                <label for="email">Email: <input type="email" id="email" name="email"><br></label><br>
                <label for="company">Company: <input type="text" id="company" name="company"><br></label><br>
                <label for="password">Password: <input type="password" id="password" name="password"><br></label><br>
                <label for="password">Confirm Password: <input type="password" id="confirm-password" name="confirm-password"><br></label><br>
            </form>
            <button type="submit" value="submit" class="button" id="submit">Sign Up</button>
        </div>
    </div>
</body>
</html>
