body {
    min-height: 100vh;
    background-color: rgb(71, 126, 122);
    background-blend-mode: color-burn;
    color:rgb(221, 221, 221);
    margin: 0px;
}

.landing {
    background-image: url("socialdistance.jpg");
    background-color: rgb(84, 114, 112);
    background-blend-mode: color-burn;
}

header {
    background-color: cadetblue;
    padding: 20px;
}

#title, #toplogin
{
    display:inline;
}

#landing {
    background-color:rgb(22, 75, 78);
    padding:10px;
}

#toplogin {
    float: right;
    margin:0px;
}

form {
    margin:10px;
}

.centered {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.button {
    background-color: #00eeff;
    border: none;
    color: rgb(0, 121, 151);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
  }