<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/styles/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <title>Social Distancing Analysis</title>
</head>
<body>
    <header>
        <ul class="bar">
            <img src="../static/images/logo.svg" alt="Logo" width=40 height=40></img>
            <h1 id="title" class="middle">Social Distancing Analysis</h1>
            <a href="index.html" class="button" id="toplogin">Log Out</a>
        </ul>
    </header>
    <div class="homepage">
        <h1>Welcome back {{user["username"]}}.</h1>
        <p>Upload a video to analyze.</p>
        <form method="post" enctype="multipart/form-data" id="upload" action="/upload">
            <input type=file name=file>
            <input class="button" type=submit value=Upload>
        </form>
    </div>
</body>
</html>